// COLORS
$brand-primary: #222;
$brand-secondary: #df9905;
$white: #fff;
$black: #000;
$grey: #eee;
// FONT VARIABLES
$font-primary: 'Muli',
sans-serif;
// RESPONSIVE BREAKPOINTS
$bp-small: 768px;
$bp-medium: 1024px;